html {
  scroll-behavior: smooth;
}
body {
  color: #3d3851;
  font-size: 16px;
  position: relative;
  font-family: 'Montserrat';
  background-color: #F9F9F9;
}
.container {
  max-width: 1920px;
  padding: 50px 100px;
}
h1,h2,h3{
  font-weight: 700;
}
a {
  color: #ffffff;
}
a:hover {
color: #0a9899;
text-decoration: none;
padding-left: 5px;
}
section{
  position: relative;
}
header {
  height: 60px;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.text-center{
  text-align: center;
  margin-bottom: 0;
}
nav.navbar {
    background-color: transparent;
    padding: 20px 50px;
    background: transparent;
    transition: 0.3s;
}
.navbar-light .navbar-brand {
  margin-left: 20px;
  padding-left: 0;
}

.navbar-brand span {
  font-size: 17px;
  color: #231f20;
}

.logo-size {
  width: 200px;
  margin-right: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
     color: #fff;
    font-size: 14px;
    padding: 5px 15px;
    margin-right: 10px;
}
.navbar.navbar-black {
    background: #f9f9f9;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.3s;
    box-shadow: 1px 0px 1px #999;
}
.navbar.navbar-black .logo-size {
    width: 165px;
    transition: 0.3s;
}
.navbar.navbar-black a.nav-link.active {
    color: #fff !important;
    border-radius: 8px;
}
.navbar-expand-lg.navbar.navbar-black .navbar-nav .nav-link {
    color: #050505;
    border-radius: 8px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
  background: #000;
  border-radius: 8px;
}
.navbar-expand-lg.navbar.navbar-black .navbar-nav .nav-link:hover {
    color: #fff;
}
#landing{
  margin-top: -60px;
}
.landing-prod-img{
    position: absolute;
    right: 0px;
    left: 0px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.landing-product-align {
    bottom: 50px;
    position: absolute;
}
#about{
  background-color: #232730;
}
.about-img{
    width: 100%;
    height: auto;
    padding: 0px 20px;
    margin-bottom: -51px;
  }
  .about-para{
    color: #fff;
    padding-top: 20px;
    line-height: 2.5rem;
    font-size: 18px;
    text-align: justify;
  }
  .about-text-padding{
    padding: 0 60px;
  }
  .about-heading1{
        color: #089A99;
  }
  .about-heading2{
    color: #fff;
  }

  .about-heading2:after{
    content: "";
    border-bottom: 2px solid #fff;
    position: absolute;
    left: 14%;
    margin-left: -45px;
    padding-top: 45px;
    width: 90px;
  }
  #success-stories{
    background-color: #232730;
        padding-bottom: 60px;
  }
  .success-stories-heading1{
    color: #089A99;
    text-align: center;
    font-size: 40px;
  }
  .success-stories-heading1:after{
    content: "";
    border-bottom: 4px solid #089A99;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    padding-top: 60px;
    width: 90px;
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -75px;
  }
  .success-para{
    color: #fff;
  }

  .landing-img-text{
   position: relative;
  }
  .text-on-img{
    position: absolute;
      bottom: 250px;
    left: 45%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  }
  
  .landing-img-text1{
    color: #fff;
    font-size: 82px;
  }
  .landing-img-text2{
        font-size: 38px;
        font-weight: 600;
  }
 #landing .carousel-controls {
    position: absolute;
    right: 120px;
    bottom: 0px;
}
 #landing .carousel-control-next, #landing .carousel-control-prev {
width: auto;
opacity:1;
  }
#landing .carousel-control-next img {
    position: absolute;
    bottom: 100px;
    left: auto;
    width: 70px;
}
/*#landing .carousel-control-next img:hover {
    right: -25px;
}*/
#landing .carousel-control-prev img{
    position: absolute;
    bottom: 60px;
    left: auto;
    width: 70px;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #94959A;
}

.carousel-indicators .active {
    background-color: #fff;
    width: 20px;
    border-radius: 20px;
}

.img-bt-left {
    position: absolute;
    bottom: 0;
    width: 250px;
}
.img-top-left {
    position: absolute;
    top: -2px;
    width: 250px;
    left: -1px;
}
.img-bottom-right{
  position: absolute;
    bottom: 0;
    width: 250px;
    right: 0;
}
.img-top-right{
  position: absolute;
    top: -1px;
    width: 250px;
    right: 0;
}
/* Portfolio - Works */

#portfolio {
    padding: 50px 10px;
    border-top: 1px solid #f3ecdb;
}
#portfolio #portfolio-flters {
    list-style: none;
    padding: 10px 0px;
    z-index: 2;
    margin-bottom: 30px;
}
#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 5px 10px 15px 10px;
    display: inline-block;
    padding: 5px 0px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    color: #089A99;
}
#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
#portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    padding: 8px;
}
#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  margin: 0;
  text-align: center;
}
#portfolio .portfolio-item .portfolio-wrap:hover img {
  transition: 0.5s;
  -ms-transform: scale(1.12);
    transform: scale(1.12);
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
  font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #ffffff;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #ffffff;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 10px;
  color: #e2effe;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #D02C30;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #5d5d5d;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}
#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #F99E33;
}
#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  display: none;
}
#portfolio .portfolio-item .portfolio-wrap img.img-fluid {
    width: 100%;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info::after,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: '';
    opacity: 0;
    transition: opacity .55s ease,transform .55s ease;
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -ms-transform: scale(1,0);
    transform: scale(1,0);
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -ms-transform: scale(0,1);
    transform: scale(0,1);
}
#portfolio .portfolio-item .portfolio-wrap .portfolio-info:hover::after,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info:hover::before {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
}
.br-left-col {
    border-left: 5px solid #089a99;
}
.portfolio-container {
    margin-left: 15px;
}
.card-img-top {
    padding: 20px;
}
h2.heading2-services {
    font-size: 40px;
    color: #000;
}
span.heading3-services {
    font-size: 40px;
        color: #089A99;
}
p.card-text {
    text-align: center;
    font-size: 14px;
}
.card-title {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.card-body {
    padding: 1rem;
}
.card {
    border-radius: 0;
    background-color: transparent;
    }
a.card-link {
    color: #089A99;
    font-weight: 600;
  }
  a.card-link:after {
    content: "";
    border-bottom: 2px solid #089A99;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    padding-top: 30px;
    width: 50px;
}
  #contact{
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    color: #fff;
  }

.addressholder ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
}
.addressholder ul li i {
    padding: 15px 0;
    display: table-cell;
        width: 28px;
}
.addressholder ul li i img {
  width: 32px;
}
.addressholder ul li .ctnaddr {
    padding: 10px;
    display: table-cell;
}
 #blog .container {
    padding-bottom: 120px;
}
 #blog .carousel-indicators li {
    background-color: #454951;
  }
 #blog .carousel-indicators .active {
    background-color: #0A9899;
}
.fa-clock-o {
    margin-right: 10px;
}
.blog-para {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.blog-title {
    color: #0a9999;
    font-size: 22px;
}
.blog-link {
    color: #050505;
    font-weight: 600;
}
.blog-time {
    border-bottom: 1px solid #cccccc;
    text-align: right;
    padding: 5px;
    font-size: 15px;
}
.email-contact-img {
    width: 52px;
    background: #000;
    margin-top: -1px;
    padding: 5px;
}
input.news-input[type="email"] {
    height: 40px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    width: 80%;
}
.contact-sub-heading {
    font-weight: 600;
}
.contact-img{
    width: 30px;
}
.social-img{
    width: 25px;
    margin-right: 20px;
}
.container.copyright {
    padding: 20px 100px;
    text-align: center;
    background-color: #262A35;
}
.copyright{
    color: #fff;
}
.talk-to-us-fixed {
    width: 270px;
    position: fixed;
    right: 0px;
    top: 30%;
    z-index: 10;
    transform: translateX(270px);
    -webkit-transform: translateX(270px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.talk-to-us {
    position: fixed;
    line-height: 34px;
    display: block;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    top: 100px;
    min-width: 146px;
    right: 205px;
    background: #097778;
    color: #fff!important;
    padding: 5px 0px 22px 0px;
    text-align: center;
    font-size: 20px;
    border: 0;
    font-weight: 800;
}
.talk-to-us-fixed:hover {
    background: #050505;
}
.talk-to-us:hover {
    background: #050505;
}
.footer-page-links a {
  font-size: 16px;
  transition: 0.3s;
}
.footer-page-links ul {
  padding-bottom: 40px;
}
.footer-page-links li {
  padding: 6px 0px;
}
.footer-page-links a:hover {
  color: #fff;
  padding: 2px 5px;
  border-left: 3px solid #fff;
  transition: 0.3s;
}


/*product-page*/
.font-top-product{
  font-size: 50px;
}
.product-left-img{
  width: 100%
}
#product-landing{
  background-image: url(../img/product-landing-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 40px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}
.amplifier-heading{
    font-size: 28px;
    font-weight: 700;
    border-bottom: 3px solid #00000038;
    padding-bottom: 10px;
}
.amplifier-heading2{
    font-size: 28px;
    font-weight: 700;
    border-top: 3px solid #00000038;
    margin-top: 20px;
    padding-top: 20px;
}
.product-more-link{
    color: #000;
    padding-left: 2px;
}
.amplifier-sub-heading{
    color: #089A99;
    font-weight: 500;
    font-size: 30px;
}
#amplifier{
    background: #fff;
}
.amplifier-heading3{
    font-size: 28px;
    font-weight: 500;
    border-top: 2px solid #00000038;
    padding-top: 20px;
    padding-bottom: 10px;
}
.navbar-product-page{
    background: #fff !important;
    padding: 10px 50px !important;
    color: #000;
}
.nav-link.nav-link-product {
    color: #000 !important;
}
.bottom-slider-img{
      width: 100%;
}

.bottom-slider-heading{
    background: #fff;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-left: 50px;
    color: #089A99;
    font-size: 42px;
}
.description-para{
    font-size: 15px;
    font-weight: 500;
}
.description-sub-heading{
      font-size: 20px;
    font-weight: 700;
}
.description-para2{
    font-size: 13px;
    line-height: 26px;
    font-weight: 500;
}


body .slick-slide .slide-content {
     margin: 0 0;
    padding: 50px 50px;
    background: #fff;
    border: #000 1px solid;
    text-align: center;
    color: #089A99;
    font-size: 23px;
    font-weight: 600;
}
body .slick-prev,
body .slick-next {
  position: absolute;
  right: 10%;
  background: #777;
  border: none;
  color: transparent;
  width: 33px;
  height: 40px;
  outline: none;
}
body .slick-prev:before,
body .slick-next:before {
  content: ">";
  color: #fff;
  font-size: 26px;
}
body .slick-prev {
    top: -70px;
    right: 15%;
}
body .slick-next {
    top: -70px;
    background: #089A99;
}
body .slick-prev:before {
  content: "<";
}
body .slick-dots {
  display: none !important;
}
body .slick-dots li {
  display: inline-block;
}
body .slick-dots li button {
  display: none;
}
body .slick-dots li.slick-active button {
  background-color: #fff;
}


/* Portfolio-product - Works */
#portfolio-product .container{
  padding: 10px 10px;
  padding-right: 30px;
}

#portfolio-product #portfolio-product-flters {
    list-style: none;
    padding: 10px 0px;
    z-index: 2;
    margin-bottom: 30px;
    padding-bottom: 0;
    border-bottom: 3px solid #27252536;
}
#portfolio-product #portfolio-product-flters li {
    cursor: pointer;
    margin: 5px 10px 15px 10px;
    display: inline-block;
    padding: 5px 0px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: -2px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
#portfolio-product #portfolio-product-flters li:hover, #portfolio-product #portfolio-product-flters li.filter-active {
    color: #3d3954;
    border-bottom: 5px solid #000;
}
#portfolio-product #portfolio-product-flters li:last-child {
  margin-right: 0;
}
#portfolio-product .portfolio-product-item {
    position: relative;
    overflow: hidden;
    padding: 8px;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap {
  overflow: hidden;
  position: relative;
  margin: 0;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info h4 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
  font-size: 18px;
  line-height: 1.2;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info h4 a {
  color: #ffffff;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info h4 a:hover {
  color: #ffffff;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info p {
  padding: 0;
  margin: 10px;
  color: #e2effe;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info .link-preview,
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #D02C30;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info .link-preview i,
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info .link-preview:hover,
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info .link-details:hover {
  background: #5d5d5d;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info .link-preview:hover i,
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info .link-details:hover i {
  color: #fff;
}

#portfolio-product .portfolio-product-item .portfolio-product-wrap:hover .portfolio-product-info {
  opacity: 1;
  display: none;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap img.img-fluid {
    width: 100%;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info::after,
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: '';
    opacity: 0;
    transition: opacity .55s ease,transform .55s ease;
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -ms-transform: scale(1,0);
    transform: scale(1,0);
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -ms-transform: scale(0,1);
    transform: scale(0,1);
}
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info:hover::after,
#portfolio-product .portfolio-product-item .portfolio-product-wrap .portfolio-product-info:hover::before {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
}


/*contact page*/
#contact-landing{
  background-image: url(../img/contact-landing-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 40px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}
#contact-page{
    background: #fff;
}
.contact-heading{
  font-weight: 500;
}
.contact-para{
    font-size: 12px;
    font-weight: 500;
}
.pd-contact-top{
  padding-top: 20px;
}
.label-contact{
    font-size: 26px;
    font-weight: 500;
}
.form-bottom-line{
    border: 0;
    border-bottom: 1.5px solid #0000004a;
    border-radius: 0;
    width: 80%;
}
.form-bottom-line-mssg{
    border: 0;
    border-bottom: 1.5px solid #0000004a;
    border-radius: 0;
    width: 91%;
}
.form-control:focus {
    box-shadow: none;
}
.contact-page-bttn{
    border: none;
    background: #0A9899;
    border-radius: 0;
    padding: 20px 40px;
}
.bttn-align{
    text-align: center;
    padding-top: 30px;
}


@media (max-width: 1600px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1200px) {
 
}

@media (max-width: 1024px) {
  .container {
    max-width: 1920px;
    padding: 50px 20px;
}
.container.copyright {
    padding: 20px 20px;
}
.landing-product-align {
    max-width: 400px;
}
.text-on-img {
    bottom: 150px;
}
.landing-img-text1 {
    font-size: 54px;
}
.landing-img-text2 {
    font-size: 24px;
}
.about-text-padding {
    padding: 0 30px;
}
}
@media (max-width: 991px) {
nav.navbar {
    padding: 0px 20px;
    background: #f9f9f9;
    transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #040404;
}
.navbar-light .navbar-brand {
    margin-left: 0px;
    padding-left: 0;
}
.navbar.navbar-black .logo-size {
    width: 150px;
    transition: 0.3s;
}
.img-bt-left,.img-top-left,.img-bottom-right,.img-top-right {
   width: 150px;
}
h2.heading2-services {
    font-size: 36px;
}
span.heading3-services {
    font-size: 36px;
}
input.news-input[type="email"] {
    width: 68%;
}
.place-holder-font{
    font-size: 10px !important;
}
body .slick-slide .slide-content {
    font-size: 16px;
}

@media (max-width: 768px) {
.navbar.navbar-black .logo-size {
    width: 150px;
    transition: 0.3s;
}
#landing .carousel-control-next img {
    position: absolute;
    bottom: 28px;
    left: auto;
    width: 35px;
}
#landing .carousel-control-prev img {
    position: absolute;
    bottom: 8px;
    left: auto;
    width: 35px;
}
#landing {
    margin-top: 0px;
}
.text-on-img {
    bottom: 50px;
}
.landing-img-text1 {
    font-size: 36px;
}
.landing-img-text2 {
    font-size: 15px;
}
.landing-product-align {
    max-width: 220px;
}
.about-para {
    font-size: 16px;
}
.logo-size {
    width: 150px;
    margin-right: 10px;
}
.bottom-slider-heading {
    font-size: 38px;
}
.label-contact {
    padding-top: 30px;
}
#portfolio-product #portfolio-product-flters li {
    margin: 5px 5px 15px 5px;
    font-size: 15px;
}
.amplifier-sub-heading {
    font-size: 24px;
}
}
@media (max-width: 525px) {
.landing-product-align {
    max-width: 165px;
}
#landing .carousel-controls {
    position: absolute;
    right: 25px;
    bottom: 0px;
}
.text-on-img {
    bottom: 20px;
}
.landing-prod-img {
    padding-left: 5px;
}
.landing-img-text1 {
    font-size: 28px;
}
.about-text-padding {
    padding: 0 20px;
}
.about-heading2:after {
    left: 65px;
}
.about-heading2 {
    font-size: 24px;
}
h2.heading2-services {
    font-size: 30px;
}
span.heading3-services {
    font-size: 36px;
}
.success-stories-heading1 {
    font-size: 36px;
}
.slick-slider {
    padding-top: 50px;
    background: #fff;
}
body .slick-prev {
    top: -10px;
    right: 35%;
}
body .slick-next {
    top: -10px;
    background: #089A99;
}
.bottom-slider-heading {
    font-size: 30px;
}
}